# Eclipse stuff
.classpath
.project
.settings/

# netbeans
nbproject/
nbactions.xml

# we use gradle!
build/
buildSrc/
.gradle/

# vim
.*.sw[a-p]

# various other potential build files
bin/
dist/
manifest.mf
work/

# Mac filesystem dust
.DS_Store/

# intellij
*.iml
*.ipr
*.iws
.idea/

# Linux temp files
*~

# other stuff
Spigot-API
Spigot-Server
PaperSpigot-Server
PaperSpigot-API
Bukkit
CraftBukkit
paper.jar